#bottomBox {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.infoBox {
  margin: 20px;
  display: flex;
  float: left;
  width: 80vw;
  height: 50vw;
  justify-content: center;
  color: white;
  text-align: center;
}

#pic {
  height: 50vw;
  margin: 0px;
  padding: 0px;
  min-height: 290px;
}

p {
  font-size: 18px;
  margin: 5px;
}

h1 {
  font-size: 36px;
  border-bottom: 3px solid black;
}

#contactInfo {
  margin-left: 20px;
  padding: 20px;
  background-color: #DF331F;
  min-height: 250px;
}

@media only screen and (max-width: 750px) {
  #bottomBox {
    margin-top: 150px;
  }

  #contactInfo {
    margin: 0px;
  }
}
