body {
  display: flex;
  justify-content: center;
}

.bottomBox {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80vw;
}

h1 {
  color: black;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

p {
  font-size: 16px;
}

#webLink {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
}

.infoBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.infoItem {
  display: flex;
  float: left;
  justify-content: center;
}

.infoPar {
  width: 60vw;
  margin-left: 20px;
}

h2 {
  width: 10vw;
}

#devPic {
  align-self: center;
  width: 80vw;
}

@media only screen and (max-width: 1050px) {
  .bottomBox {
    width: 95vw;
  }

  .infoItem {
    flex-direction: column;
    float: none;
    align-items: center;
    margin: 0px;
    text-align: center;
  }

  h2 {
    width: 95vw;
  }

  .infoPar {
    width: 90vw;
    margin: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .bottomBox {
    margin-top: 30vw;
  }
}

@media only screen and (max-width: 400px) {
  .bottomBox {
    margin-top: 40vw;
  }
}
