body {
  font-family: monospace;
  background-color: #BFBBBA;
  display: flex;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#name {
/*   -webkit-box-sizing: border-box; */
  display: block;
  width: 650px;
/*   height: auto;
  max-height: 20vh; */
}

#nameBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}

#optionsBox {
  display: flex;
  float: none;
  justify-content: center;
  margin-bottom: 15px;
}

a {
  cursor: pointer;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

a:hover,#selected {
  background-color: #DF331F;
  color: white;
}

.topBox {
  background-color: #BFBBBA;
  display: flex;
  flex-direction: column;
  border-bottom: #DF331F solid 2px;
  width: 100vw;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 715px) {  
  #name {
    width: 90vw;
/*     height: auto; */
  }
  
  a {
    font-size: 14px;
  }
}
