#bottomBox {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80vw;
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dexBlurb {
  align-self: center;
  font-size: 20px;
  width: 60vw;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border: 2px solid #DF331F;
}

h1 {
  color: black;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

p {
  font-size: 16px;
}

.questionBox {
  display: flex;
  float: left;
  justify-content: center;
  text-align: left;
  margin-bottom: 10px;
}

h2 {
  width: 25vw;
  font-size: 16px;
  margin: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

.answer {
  width: 50vw;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

#sketches {
  width: 80vw;
  margin-top: 20px;
}

@media only screen and (max-width: 1050px) {
  #bottomBox {
    width: 90vw;
  }
}

@media only screen and (max-width: 600px) {
  #bottomBox {
    margin-top: 30vw;
  }

  #dexBlurb, p {
    font-size: 14px;
  }

  .questionBox {
    flex-direction: column;
    margin: 0px;
    align-items: center;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 14px;
    margin: 0px;
    width: 80vw;
  }

  .answer {
    margin-left: 0px;
    width: 80vw;
  }
}

@media only screen and (max-width: 400px) {
  #bottomBox {
    margin-top: 40vw;
  }
}
