.bottomBox {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80vw;
}

h1 {
  color: black;
  margin: 30px;
  margin-bottom: 0px;
  font-size: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

p {
  font-size: 16px;
}

#sO_orig_link {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  text-decoration: underline;
}

#flowChart {
  width: 70vw;
  margin: 20px;
  align-self: center;
}

#sO_link {
  background-color: #DF331F;
  color: white;
  align-self: center;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 300px;
}

#sO_link:hover {
  text-decoration: underline;
}

.redesignPNG {
  width: 80vw;
  align-self: center;
}

.infoBox {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 750px) {
  .bottomBox {
    margin-top: 15vh;
  }
}
